.user-page-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 2% auto;
  width: 80%;
  align-items: center;
  position: relative;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 50px;
    position: absolute;
    top: -2%;
    left: -15%;
  }
}
